/*Desktop*/
* {
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}
.navbar {
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    color: white;
}
li{
    list-style: none;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 -.25rem;
    padding: 5px 20px 5px 20px;
    border-radius: 15px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a:hover {
    box-shadow: inset 1000px 0 0 0 #035397;
    color: white;
    transition: 1s;
}
.none {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    color: white;
}
.navToggle{
    display: none;
}
.headerpadre {
    background-color: #0A1931;
    display: flex;
    justify-content: center;
    height: 100px;
}

.Section1 {
    width: auto;
    height:550px;
    display: flex;
    justify-content: flex-start;
    font-size: 50px;
    align-items: flex-end;
    color: aliceblue;
    background-image: url("Imágenes/rocket.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Rocket {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.Section1-1 {
    font-family: 'Bebas Neue', cursive;
    color: #5089C6;
    margin-left: 40px;
}

.Section1-2 {
    font-size: 80%;
    background-color: #0A1931;
    text-decoration: none;
    color: white;
    font-size: 40px;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
}

#Contacto:hover {
    box-shadow: inset 10000px 0 0 0 #035397;
    border-radius: 15px;
    cursor: pointer;
}

.Section2 {
    background-color: #0A1931;
    height: 400px;
    font-family: 'Bebas Neue', cursive;
    color: #5089C6;
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}



.Section2Img {
    width: 100%;
    display: grid;
    grid-template-columns: 30vw 30vw 30vw;
    grid-template-rows: 70px 70px 70px 70px;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        "Text-1 Text-1 ."
        ". Text-2 Text-2"
        "Text-3 Text-3 ."
        ". Text-4 Text-4";
}

.Text-1 {
    grid-area: Text-1;
}

.Text-2 {
    grid-area: Text-2;
}

.Text-3 {
    grid-area: Text-3;
}

.Text-4 {
    grid-area: Text-4;
}

.item1 {
    display: flex;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    color: white;
}

.item2 {
    display: flex;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    color: white;
}

.item3 {
    display: flex;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    color: white;
}

.item4 {
    display: flex;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    color: white;
}

.footer {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footerBottom {
    display: flex;
    justify-content: space-between;
}

.footerRedes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: #035397;
    width: 80%;
    color: #FA7E0A;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}

.footerRedes div {
    padding-left: 50px;
}

.footerRedes img {
    height: 40px;
    width: 40px;
}

.footerMap {
    justify-items: flex-start;
    width: 100%;
    height: 210px;
    border: solid 2px #FA7E0A;
}

.footerfirma {
    height: 30px;
    background-color: #FA7E0A;
    display: flex;
    justify-content: center;
}

.footerfirma1 {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    color: white;
    margin-top: 10px;
}

/*Fin desktop*/
/*Navbar*/
@media only screen and (min-width:0px) and (max-width:960px) {
    .header{
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 90%;
    }
    .none{
        display: flex;
        width: 100%;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(3,83,151,.4);
        position: fixed;
        left: 0;
        top: 80px;
        width: 100%;
        padding: 20px 0;
        left: 100%;
    }
    .menuitem {
        line-height: 70px;
    }
   
    #menubar{
        display: block;
        cursor: pointer;
        color: white;
    }
    .nav-toggle {
        display: block;
        line-height: 40px;
    }
    .nav-menu_visible {
        left: 0;
        transition: left 0.3s;
    }
}    
/*Fin Navbar*/
/*1st break*/
@media only screen and (min-width:571px) and (max-width:850px) {
    .Section2{
        height: 300px;
        align-content: center;
    }
    .Section2Img{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .item1, .item3{
        height: 50px;
        justify-content: flex-start;
    }
    .item2, .item4{
        height: 50px;
        justify-content: flex-end;
    }
}

/*Fin 1st break*/
/*2nd break*/
@media only screen and (min-width:0px) and (max-width:570px) {
    .Section2 h2 {
        margin-bottom: 70px;
    }
    .Section2{
        height: 600px;
        align-content: center;
    }
    .Section2Img{
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    .item1, .item3{
        height: 100px;
        justify-content: center;
        align-content: center;
    }
    .item2, .item4{
        height: 100px;
        justify-content: center;
        align-content: center;
    }
    
}
/*Fin 2nd break*/
/*3rd break*/
@media only screen and (min-width:0px) and (max-width:400px) {
    .Section1{
        font-size: 30px;
    }
    .Section1-2{
        font-size: 20px;
    }
}