/*Desktop*/
* {
    margin: 0;
    padding: 0;
}
.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}
.navbar {
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    color: white;
}
li{
    list-style: none;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 -.25rem;
    padding: 5px 20px 5px 20px;
    border-radius: 15px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a:hover {
    box-shadow: inset 1000px 0 0 0 #035397;
    color: white;
    transition: 1s;
}
.none {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    color: white;
}
.menubar{
    display: none;
}
.headerpadre{
    background-color: #0A1931;
    display: flex;
    justify-content: center;
    height: 100px;
}
main{
    display: flex;
    justify-content: center;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3000px;
    background-image: url("Imágenes/Pensante.jpg");
    background-repeat:repeat-x;
    background-position: center;
    background-size: cover;
}
.Galería{
    height: 3000px;
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-items: center;
}
h2{
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
}
.SectionImg{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.item1 {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 95%;
    justify-content: flex-start;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    background-color: rgba(3,83,151,.4);
    align-items: flex-start;
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 4px;
}

.item2 {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 95%;
    justify-content: flex-end;
    align-items: flex-end;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    background-color: rgba(3,83,151,.4);
    border-radius: 20px;
    padding: 5px;
    margin-bottom: 4px;
}
.divp{
    display: flex;
    height: 20%;
    padding: 2px;
}
p{
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    color: white;
}
.divimg{
    display: flex;
    flex-direction: row;
    height: 80%;
}
.Imagenparada{
    height: 300px;
    width: auto;
}
.footer {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footerBottom {
    display: flex;
    justify-content: space-between;
}

.footerRedes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: #035397;
    width: 80%;
    color: #FA7E0A;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}

.footerRedes div {
    padding-left: 50px;
}

.footerRedes img {
    height: 40px;
    width: 40px;
}

.footerMap {
    justify-items: flex-start;
    width: 100%;
    height: 210px;
    border: solid 2px #FA7E0A;
}

.footerfirma {
    height: 30px;
    background-color: #FA7E0A;
    display: flex;
    justify-content: center;
}

.footerfirma1 {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    color: white;
    margin-top: 10px;
}

/*Fin desktop*/
/*Navbar*/
@media only screen and (min-width:0px) and (max-width:960px) {
    .header{
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 90%;
    }
    .none{
        display: flex;
        width: 100%;
    }
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #5089C6;
        position: fixed;
        left: 0;
        top: 80px;
        width: 100%;
        padding: 20px 0;
        left: 100%;
    }
    .menuitem {
        line-height: 70px;
    }
    .nav-menu-links:hover,
.nav-menu-links_active {
    background: none;
    color: #83c5f7;
}
    #menubar{
        display: block;
        cursor: pointer;
        color: white;
    }
    .nav-toggle {
        display: block;
        line-height: 40px;
    }
    .nav-menu_visible {
        left: 0;
        transition: left 0.3s;
    }
}/*Fin Navbar*/
/*1st break*/
@media only screen and (min-width:0px) and (max-width:830px) {
.item1, .item2{
    height: 900px;
}
    .divimg{
    flex-direction: column;
}

}
/*Fin 1st break*/