/*Desktop*/
* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
}

.navbar {
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-family: 'Anton', sans-serif;
    font-size: 20px;
    color: white;
}
#menubar{
    display: none;
}
li {
    list-style: none;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 -.25rem;
    padding: 5px 20px 5px 20px;
    border-radius: 15px;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}

a:hover {
    box-shadow: inset 1000px 0 0 0 #035397;
    color: white;
    transition: 1s;
}

.none {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    color: white;
}
.Logo{
    display: flex;
    width: 50vh;
}
.menubar {
    display: none;
}

.headerpadre {
    background-color: #0A1931;
    display: flex;
    justify-content: center;
    height: 100px;
}

.Fondo {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Anton', sans-serif;
}

.Video {
    width: 100vw;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    opacity: .30;
}

.yo {
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    color: #0A1931;
}

.yo h1 {
    font-size: 40px;
    font-family: 'Anton', sans-serif;
}

.yo p {
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Anton', sans-serif;
    color: #0A1931;
    font-size: 30px;
}

.yo h4 {
    width: 100%;
    display: flex;
    font-size: 30px;
    justify-content: flex-start;
}

.yo ul {
    display: flex;
    justify-content: center;
    font-family: 'Anton', sans-serif;
    color: #0A1931;
    flex-direction: column;
    font-size: 25px;
}

.LinkedIn {
    font-size: 80%;
    background-color: #0A1931;
    text-decoration: none;
    color: white;
    font-size: 40px;
    padding: 5px 15px 5px 15px;
    border-radius: 15px;
    font-family: 'Bebas Neue', cursive;
}

.Print3darg {
    background-color: #0A1931;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: azure;
    flex-direction: column;
    height: 1700px;
}

.Material {
    display: flex;
    width: 95%;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
    margin-top: 50px;
}

.Servicios {
    display: flex;
    width: 95%;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 50px;
}

h2 {
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    margin-bottom: 30px;
}

h5 {
    font-family: 'Bebas Neue', cursive;
    font-size: 30px;
}

h3 {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 30px;
}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: 'Bebas Neue', cursive;
}

.Mision {
    display: flex;
    width: 80%;
    height: 500px;
}

.Mision1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 70%;
}

.Mision2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Mision2 img {
    width: 400px;
    height: auto;
}

.Vision {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 500px;
}

.Vision1 {
    display: flex;
    align-items: center;
    justify-content: center;

}

.Vision1 img {
    width: 400px;
    height: auto;
}

.Vision2 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    text-align: right;
    width: 60%;
}

.footer {
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footerBottom {
    display: flex;
    justify-content: space-between;
}

.footerRedes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    background-color: #035397;
    width: 80%;
    color: #FA7E0A;
    font-size: 20px;
    font-family: 'Bebas Neue', cursive;
}

.footerRedes div {
    padding-left: 50px;
}
.footerRedes a{
    color: #FA7E0A;
    text-decoration: none;
}
.footerRedes img {
    height: 40px;
    width: 40px;
}

.footerMap {
    justify-items: flex-start;
    width: 100%;
    height: 210px;
    border: solid 2px #FA7E0A;
}

.footerfirma {
    height: 30px;
    background-color: #FA7E0A;
    display: flex;
    justify-content: center;
}

.footerfirma1 {
    width: 80%;
    display: flex;
    justify-content: flex-start;
    color: white;
    margin-top: 10px;
}

/*Fin desktop*/
/*Navbar*/
@media only screen and (min-width:0px) and (max-width:960px) {
    .header {
        position: relative;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 90%;
    }

    .none {
        display: flex;
        width: 100%;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: rgba(3, 83, 151, .4);
        position: fixed;
        left: 0;
        top: 80px;
        width: 100%;
        padding: 20px 0;
        left: 100%;
    }

    .menuitem {
        line-height: 70px;
    }

    #menubar {
        display: block;
        cursor: pointer;
        color: white;
    }

    .nav-toggle {
        display: block;
        line-height: 40px;
    }

    .nav-menu_visible {
        left: 0;
        transition: left 0.3s;
    }

    .Fondo {
        height: 600px;
        margin-left: 15px;
    }
}

/*Fin Navbar*/
/*1st break*/
@media only screen and (min-width:741px) and (max-width:900px) {
    .Print3darg {
        height: 1800px;
    }

    .Vision,
    .Mision {
        flex-direction: column;
        height: 600px;
    }

    .Vision2,
    .Mision1 {
        align-items: center;
        width: 100%;
        margin-top: 30px;
    }

    .Vision1 {
        margin-top: 30px;
    }
}

/*Fin 1st break*/
/*2ndbreak*/
@media only screen and (min-width:570px) and (max-width:740px) {
    .Fondo {
        height: 800px;
    }

    .Print3darg {
        height: 2100px;
    }

    .Vision,
    .Mision {
        flex-direction: column;
        height: 700px;
    }

    .Vision2,
    .Mision1 {
        align-items: center;
        width: 100%;
        margin-top: 30px;
    }

    .Mision2 {
        margin-top: 30px;
    }
}

/*Fin 2nd break*/
/*3rd break*/
@media only screen and (min-width:400px) and (max-width:569px) {
    .Fondo {
        height: 800px;
    }

    .Print3darg {
        height: 2500px;
    }

    .Vision,
    .Mision {
        flex-direction: column;
        height: 780px;
    }

    .Vision2,
    .Mision1 {
        align-items: center;
        width: 100%;
        margin-top: 30px;
    }

    .Vision {
        margin-top: 70px;
    }
}

/*Fin 3rd break*/
/*4th break*/
@media only screen and (min-width:380px) and (max-width:399px) {
    .Fondo {
        height: 900px;
    }

    .Print3darg {
        height: 2600px;
    }

    .Vision,
    .Mision {
        flex-direction: column;
        height: 800px;
    }

    .Vision2,
    .Mision1 {
        align-items: center;
        width: 100%;
        margin-top: 30px;
    }

    .Vision1 img {
        width: 95%;
    }

    .Mision2 img {
        width: 95%;
    }

    .Vision1 {
        margin-top: 100px;
    }

}
/*Fin 4th break*/
/*5th break*/
@media only screen and (min-width:0px) and (max-width:379px) {
    .Logo{
        display: flex;
        width: 50vh;
    }
    .Fondo {
        height: 900px;
        
    margin-bottom: 20px;
    }

    .Print3darg {
        height: 2900px;
    }

    .Vision,
    .Mision {
        flex-direction: column;
        height: 900px;
    }

    .Vision2,
    .Mision1 {
        align-items: center;
        width: 100%;
        margin-top: 30px;
    }

    .Vision1 img {
        width: 95%;
    }

    .Mision2 img {
        width: 95%;
    }
}
